.gif-container {
    margin-bottom: 20px;
    border-radius: 10px;
    margin-right: 20px;
    padding: 20px;

    background: linear-gradient(
        90deg,
        rgba(96, 122, 212, 1) 0%,
        rgba(53, 161, 180, 1) 50%,
        rgba(2, 207, 142, 1) 100%
    );
}

.gif-uploader {
    color: white;
}

.gif-img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.gif-actions {
    display: flex;
    margin: auto;
    justify-content: space-around;
}

@media (max-width: 800px) {
    .gif-container {
        margin-right: 0;
    }
}
