body {
    background-color: #080079;
    padding-top: 50px;
}

.App {
    text-align: center;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px 0 30px;
}

.authed-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.header {
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.sub-text {
    font-size: 25px;
    color: white;
}

.gradient-text {
    background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cta-button {
    height: 45px;
    border: 0;
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.connect-wallet-button {
    background: -webkit-linear-gradient(left, #60c657, #35aee2);
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;
}

.submit-gif-button {
    background: -webkit-linear-gradient(left, #4e44ce, #35aee2);
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;
    margin-left: 10px;
}

.gifs-container {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
}
.connected-container input[type="text"] {
    display: inline-block;
    color: white;
    padding: 10px;
    width: 50%;
    height: 60px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10px;
    margin: 50px auto;
}

.connected-container > button {
    height: 50px;
}

button {
    background: black;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0;
    border: none;
    color: white;
    border: 2px solid transparent;
}

button:hover {
    border: 2px solid white;
    cursor: pointer;
}

@media (max-width: 800px) {
    .gifs-container {
        justify-content: center;
    }
}
